@font-face {
  font-family: "asteraregular";
  src: url("./fonts/astera_v2-webfont.woff2") format("woff2"),
    url("./fonts/astera_v2-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "asteraregular";
  src: url("./fonts/astera_v2-webfont.woff2") format("woff2"),
    url("./fonts/astera_v2-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.txt {
  font-family: "asteraregular", sans-serif;
}
